@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés pour les animations */
.binary-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.binary-column {
  position: absolute;
  display: flex;
  flex-direction: column;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
} 